.blogs-all{
                              background-color: rgb(230, 251, 206);
                              
                              border-radius: 17px;
                              padding-left: 50px;
                              padding-right:30px;
                              padding-bottom: 20px;
                              margin: 25px;
                             /* margin-bottom: '40px';
                             margin-top: '3%';
                              padding-left: '10%';
                              padding-right: "10%";
                              align-self: center;
                              align-items: center;
                              align-content: center;
                              text-align: center;
                              padding-bottom: 10px; */

                          }