.service-container{
                              display: grid;
                              grid-template-columns: repeat(3, 1fr);
                              grid-gap:20px;
                              padding-left: '10%';
                              padding-right: "10%";
                             

                          }

/* pagination class */

                        .pagination{
                            justify-content: center;
                            margin-top: 30px;
                        }

                          .pagination button{
                            margin-right:8px;
                            background-color:white;
                            border:1px solid orange
                        }
                        .pagination .selected{
                            background-color: orange;
                            color:white
                        }
                          
                          @media only screen and (max-width:688px){
                              .service-container{
                                  grid-template-columns: repeat(1, 1fr);
                              }
                      }
                      
                      @media only screen and (min-width:689px) and (max-width:991px){
                          .service-container{
                              grid-template-columns: repeat(2, 1fr);
                          }
                      }