.footer {
                              margin-top:100px;
                              padding:40px;
                              background-color: darksalmon;
                              color: white;
                              left: 0;
                              bottom: 0;
                              width: 100%;
                            }