.devBlog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

@media only screen and (max-width:688px){
    .devBlog-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:689px) and (max-width:991px){
.devBlog-container{
    grid-template-columns: repeat(2, 1fr);
}
}

.topText {
     text-align: center;
     padding-top: 30px;
}

.spanStyle{
    font-size: 28px;
    font-weight: 800;
    color: darksalmon;
}

.titleStyle {
    font-size:26px;
    padding:46px;
    color:"#137373";
    text-align: center;
    color: darksalmon;
}

.middleText {
    padding-top: 26px ;
    font-size: 22px;
    text-align:center;
} 

.blog {
    text-align:center;
    padding-top: 60px;
    padding-bottom: 40px;
    text-decoration-line: underline;
    font-weight:400;
    font-size:26px;
}

